name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      checks: write
      pull-requests: write
    steps:
        - uses: actions/checkout@v3
        - name: Set up JDK 17
          uses: actions/setup-java@v3
          with:
            java-version: '17'
            distribution: 'temurin'
            cache: maven
        - name: Change wrapper permissions
          run: chmod +x ./mvnw
        - name: Run Tests
          run: ./mvnw test -Dtest=!GameDaoImplTest -DfailIfNoTests=false -ntp
        - name: Publish Test Results
          id: test-results
          uses: EnricoMi/publish-unit-test-result-action/composite@master
          with:
            files: |
              **/target/surefire-reports/**.xml
  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Change wrapper permissions
        run: chmod +x ./mvnw

      - name: Build with Maven
        run: ./mvnw -B -ntp package -Dtest=!GameDaoImplTest -DfailIfNoTests=false --file pom.xml

      - name: Verify with Maven for Code-Coverage
        run: ./mvnw -ntp verify

      - name: Generate JaCoCo Badge
        id: jacoco
        uses: cicirello/jacoco-badge-generator@v2.0.1
        with:
          jacoco-csv-file: JaCoCo/target/site/jacoco-aggregate/jacoco.csv

      - name: Log coverage percentage
        run: |
          echo "coverage = ${{ steps.jacoco.outputs.coverage }}"
          echo "branch coverage = ${{ steps.jacoco.outputs.branches }}"

      - name: Get branch name (merge)
        if: github.event_name != 'pull_request'
        shell: bash
        run: echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/} | tr / -)" >> $GITHUB_ENV

      - name: Get branch name (pull request)
        if: github.event_name == 'pull_request'
        shell: bash
        run: echo "BRANCH_NAME=$(echo ${GITHUB_HEAD_REF} | tr / -)" >> $GITHUB_ENV

      - name: Commit the badge (if it changed)
        run: |
          if [[ `git status --porcelain` ]]; then
                  git config --global user.name RiFrost
                  git config --global user.email ri.frost@web.de
                  git add -A
                  git commit -m "Autogenerated JaCoCo coverage badge"
                  git pull -r origin ${{ env.BRANCH_NAME }}
                  git push origin HEAD:${{ env.BRANCH_NAME }}
          fi
      - name: Upload JaCoCo coverage report
        uses: actions/upload-artifact@v3
        with:
          name: jacoco-report
          path: JaCoCo/target/site/jacoco-aggregate/