name: CI

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      checks: write
      pull-requests: write
    steps:
        - uses: actions/checkout@v3
        - name: Set up JDK 17
          uses: actions/setup-java@v3
          with:
            java-version: '17'
            distribution: 'temurin'
            cache: maven
        - name: Change wrapper permissions
          run: chmod +x ./mvnw
        - name: Run Tests
          run: ./mvnw test -ntp
        - name: Publish Test Results
            id: test-results
            uses: EnricoMi/publish-unit-test-result-action/composite@master
            with:
              files: |
                **/target/surefire-reports/**.xml
  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Change wrapper permissions
        run: chmod +x ./mvnw
      - name: Build with Maven
        run: ./mvnw -B -ntp package --file pom.xml