name: CI

on:
  push:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Change wrapper permissions
        run: chmod +x ./mvnw
      - name: Run Tests
        run: ./mvnw test
      - name: Build with Maven
        run: ./mvnw -B package --file pom.xml